<div class="container-fluid">

  <h1>Liste des plantes</h1>

  <div class="plants-container">
    <% @plants.each do |plant| %>
    <div class="plant">
      <%= link_to plant, class: "plant-content" do %>
      <div class="info-btn">i</div>
      <%= image_tag plant.image.url %>
      <p><%= plant.name %></p>
      <% end %>
    </div>
    <% end %>
  </div>

</div>
