<div class="container-fluid">

  <h1>Liste des plantes</h1>

  <div class="plants-container">
    <% @plants.each do |plant| %>
    <div class="plant">
      <%= plant.name %>
    </div>
    <% end %>
  </div>

</div>
