footer {
	padding: 1.5em 0;
	width: 100%;
	color: #fff;
	background-color: #81c69e;

	a {
		color: #FFFFFF;
		margin-left: 2em;
	}
	p {
		display: inline-block;
	}

	.row:before,
	.row:after {
		content: none;
		display: inherit;
	}
	.row {
		display: flex;
		justify-content: space-between;
		margin: 0 10%;
		div {
			line-height: auto;
			white-space: nowrap;
			font-size: 1em;
			line-height: 45px;
		}
		@media screen and (max-width: 600px) {
			flex-direction: column;
		}
	}
}
