header {
	background-color: $main-color;
	.row {
		display: flex;
    justify-content: space-around;
		align-items: center;
    position: relative;
		min-height: 60px;
	}
	img {
		width: 50px;
		height: auto;
	}

	.header-links {
		flex-grow: 1;
    flex-basis: 0;
		text-align: center;

		a {
				margin: 5px 1em;
				text-transform: uppercase;
				color: white;
				letter-spacing: 1px;
				font-weight: bold;
		}
	}
}
