.growing-planning {
  user-select: none;
  display: inline-block;
  margin: 3em 0;
  text-align: left;
  box-shadow: $soft-boxshadow;
  background-color: $white;
  border-radius: 15px;
  padding: 1.5em;
  td {
    display: inline-block;
    background-color: $grey-light;
    color: $dark-grey;
    border-radius: 5px;
    margin: 2px 2px 0 2px;
    padding: 10px;
    min-width: 20px;
    text-align: center;
    transition: background-color .2s;
    box-sizing: content-box;
    cursor: default;
    &.plant {
      background-color: $mint-green;
      cursor: pointer;
    }
    &.harvest {
      background-color: $dark-green;
    }
    &.duration {
      background-color: $light-green;
    }
    &:hover {
      span {
        display: block;
      }
    }
    span {
      position: absolute;
      display: none;
      background-image: image-url('icons/bubble.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center 100%;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      color: $mint-green;
      transform: translate(-45%, -110%);
      box-sizing: border-box;
      padding: .8em 1em 2.35em;
      transition: opacity .2s;
      b {
        display: block;
      }
      &:hover {
        display: none;
      }
/*       &:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, 100%);
  background-color: $dark-grey;
} */
    }
  }
}
