<div id="dashboard" class="container-fluid dashboard-farm">
  <div class="row">
      <h1>Mon Tableau de Bord</h1>
      <% if !notice.blank? %>
      <p id="notice"><%= notice %></p>
      <% end %>
  </div>
  <%= render partial: 'application/partials/dashboard/kanban' %>
  <hr>
  <%= render partial: 'application/partials/dashboard/quarter' %>
</div>

<%= render partial: 'application/partials/dashboard/modal' %>
