<footer>
  <div class="container">
    <div class="row tablehome">
      <div class="col-xs-12 col-sm-1 cellfooter">

      </div>
      <div class="col-xs-12 col-sm-6 cellfooter">
        <p>
          © <%= Date.today.year %>, Tableau de Bord
        </p>
        <!-- <a href="#">Mentions légales</a> -->
        <!-- <a href="#">Conditions générales</a> -->
        <a href="http://www.fb.me/msg/letableaudebord" title="Envoyer un message" target="_blank">Contact</a>
        <a href="https://www.facebook.com/letableaudebord" title="Voir la page Facebook" target="_blank">Facebook</a>

      </div>
        <div class="col-xs-12 col-sm-6 cellfooter">

          <%= link_to image_tag('layout/footer/fermedavenir.png', height: 50), "http://www.fermesdavenir.org", class: "footer-logo", target: "_blank" %>
          <p id="right">
            En partenariat avec
          </p>

      </div>
      <div class="col-xs-12 col-sm-1 cellfooter">
      </div>
    </div>
  </div>
</footer>
