<div class="row">
  <div class="container dashboard-quarter">
    <div class="col-lg-12">
      <div class="wrapper">
        <div class="wrapper-card">
          <h3>SEPTEMBRE</h3>
          <div class="white-box">
            <div class="container-fluid">
              <!-- EACH WEEK -->
              <div class="row flex">
                <div class="col-sm-10">
                  <!-- EACH WEEK CATEGORY -->
                  <div class="container-fluid">
                    <div class="row kanban">
                      <h4>A planter</h4>
                      <div class="container-fluid">
                        <div class="row">IMAGE - LEGUME</div>
                        <div class="row">IMAGE - LEGUME</div>
                        <div class="row">IMAGE - LEGUME</div>
                      </div>
                    </div>
                    <div class="row kanban">
                      <h4>A recolter</h4>
                      <div class="container-fluid">
                        <div class="row">IMAGE - LEGUME</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <span class="week">15</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper-card">
          <h3>OCTOBRE</h3>
          <div class="white-box">
            <div class="container-fluid">
              <!-- EACH WEEK -->
              <div class="row flex">
                <div class="col-sm-10">
                  <!-- EACH WEEK CATEGORY -->
                  <div class="container-fluid">
                    <div class="row kanban">
                      <h4>A planter</h4>
                      <div class="container-fluid">
                        <div class="row">IMAGE - LEGUME</div>
                        <div class="row">IMAGE - LEGUME</div>
                        <div class="row">IMAGE - LEGUME</div>
                      </div>
                    </div>
                    <div class="row kanban">
                      <h4>A recolter</h4>
                      <div class="container-fluid">
                        <div class="row">IMAGE - LEGUME</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <span class="week">15</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper-card">
          <h3>NOVEMBRE</h3>
          <div class="white-box">
            <div class="container-fluid">
              <!-- EACH WEEK -->
              <div class="row flex">
                <div class="col-sm-10">
                  <!-- EACH WEEK CATEGORY -->
                  <div class="container-fluid">
                    <div class="row kanban">
                      <h4>A planter</h4>
                      <div class="container-fluid">
                        <div class="row">IMAGE - LEGUME</div>
                        <div class="row">IMAGE - LEGUME</div>
                        <div class="row">IMAGE - LEGUME</div>
                      </div>
                    </div>
                    <div class="row kanban">
                      <h4>A recolter</h4>
                      <div class="container-fluid">
                        <div class="row">IMAGE - LEGUME</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <span class="week">15</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
