#notice {
  color: #63b987;
  margin: 1em 0 2em;
}

.dashboard-farm {
  @import "kanban";
  @import "quarter";
  hr {
    display: block;
    width: 100%;
    max-width: 200px;
    height: 1px;
    border: none;
    background-color: $mint-green;
    margin: 6em auto 3em;
  }
  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5em;
    h2 {
      display: inline-block;
      margin: 0 .75em;
    }
    .action {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border-radius: 35px;
      background-color: $main-color;
      span {
        display: block;
        width: 17px;
        height: 17px;
        background-image: image-url('icons/back.svg');
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateX(-1px);
      }
      &.next {
        transform: rotate(180deg);
      }
    }
    .current_week {
      color: $main-color;
    }
  }
}
