form {
  text-align: left;
  position: relative;
  .field {
    margin-top: 20px;
  }
  .form-btn {
    width: 400px;
    background: $main-color;
    color: #fff;
    padding: 10px 0;
    &:hover {
      background: $main-color-darker;
      color: #fff;
    }
  }
}
.container-center {
  position: relative;
  padding: 2em;
}
.form-content {
  text-align: center;
  background-color: rgba(255,255,255,0.93);
  padding: 40px 50px;
  display: inline-block;
  box-shadow: $boxshadow;
  border-radius: 15px;
  h2 {
    text-transform: uppercase;
    color: $main-color;
  }
  label {
    display: inline-block;
    font-weight: 400;
  }
  .actions {
    width: auto;
  }
  .input-form {
    margin: 0 auto;
    background-color: #fff;
    outline: none;
    padding: 10px;
    border: none;
    width: 100%;
    background-color: rgba($mid-grey, .3);
    border-radius: 15px;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    &::placeholder {
      color: $white;
    }
  }
  .btn {
    margin: 20px auto;
    border: none;
    display: inherit;
    width: 100%;
    background-color: $main-color;
    color: white;
    font-weight: 500;
    letter-spacing: 0.08em;
    &:hover {
      background-color: $dark-green;
    }
  }
  h2 {
    margin-top: 0;
    margin-bottom: 40px;
  }
  @media screen and (max-width: 580px) {
    margin: 0;
    width: 100%;
  }
}
.ninja-input {
  display: none;
  font-size: 30px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.page {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.93);
  padding: 40px 50px;
  display: inline-block;
  margin-top: 130px;
  #user_email {
    width: 100%;
    padding: 5px 10px;
  }
}
.modif {
  margin-bottom: 20px;
  margin-top: 10px;
  .btn_green {
    width: 100%;
    padding: 10px 16px;
    margin: 10px 0;
  }
}
